##### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

##### Backup
*.bak
*.orig
*.tmp

# Log file
*.log

#Temp files
*~
*.swp

##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

#GitHub
.github/*

# Local archives
*.zip
*.tar.gz
*.tgz

# Finally, runtime data
[Dd]ata/

config.php


